
.testimonial{
    container-type: inline-size;
    width: 100%;
}

.inner-wrapper-testimonial{   
    display: flex;
    gap:3rem;
    align-items: center;
    justify-content: space-around;
    line-height: 1.3;
    padding: 2rem;
    background-color: #2545B8;
    width: 100%;
    height: 400px;
    flex-wrap: nowrap;
}


.quote{
    color:#F5F5F5;
    font-size: 1.5rem;
    margin: 1em 0;
}

.author{
    font-weight: bold;
}

.image-container{
    border-radius: 5px;
    height: 460px;
    width: 380px;
}

.testimonial>img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}


@container (width < 800px) {
    .inner-wrapper-testimonial{
        flex-direction: column;
        height: unset;
        position: relative;
        width: 380px;
    }

    .quote-container{
        margin-top: 120px;
    }

    .image-container{
        height: 220px;
        width: 340px;
        border-radius: 5px;
        overflow: hidden;
        position: absolute;
        top:-20%;    
    }


    .image-container>img{
        object-position: -30px -40px;
        height: 100%;
        width: 115%;
        object-fit: cover;
        border-radius: 5px;
    }
}